body{
    background-color: deepskyblue;
    height:900px;
}

.image {
    background-image: url(../img/0.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1423px;
    height: 900px;
    background-position: center;
    z-index: -100;
    position: absolute;
}

.im1 {
    background-image: url(../img/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 593px;
    height: 374px;
    margin: 0;
    z-index: 100;
    position: relative;
    bottom: -526px;
    left: 103px;
}

.im2 {
    background-image: url(../img/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 266px;
    margin: 0;
    height: 450px;
    background-position: center;
    z-index: 199;
    position: relative;
    bottom: 39px;
    left: 1052px;
}



.im3 {
    background-image: url(../img/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 226px;
    margin: 0;
    height: 400px;
    background-position: center;
    z-index: 199;
    position: relative;
    bottom: 479px;
    left: 841px;
}

.im4 {
    background-image: url(../img/4.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 212px;
    height: 400px;
    margin:0;
    background-position: center;
    z-index: 200;
    position: relative;
    bottom: 738px;
    left: 969px;
}


.im5 {
    background-image: url(../img/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 283px;
    height: 400px;
    margin:0;
    background-position: center;
    z-index: 99;
    position: relative;
    bottom: 1331px;
    left: 376px;
}


.im6 {
    background-image: url(../img/6.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 178px;
    height: 400px;
    margin: 0;
    background-position: center;
    z-index: 97;
    position: relative;
    bottom: 1948px;
    left: 335px;
}

